header {
  backdrop-filter: blur(0.3rem);
  -webkit-backdrop-filter: blur(0.3rem);
  background-color: #283040d9;

  li {
    transition: 0.3s;

    &:hover {
      color: #F2B6C1;
    }
  }
}

.content {
  backdrop-filter: blur(0.8rem);
  -webkit-backdrop-filter: blur(0.8rem);
  background-color: #28304000;
}
