footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fcd4be;

  .footerContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30rem;
  }
}

@media screen and (max-width: 880px) {
  footer {
    .footerContent {
      display: flex;
      justify-content: left;
      row-gap: 2rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
    }
  }
}
