footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20rem;
}

@media screen and (max-width: 525px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
