.card {
  width: 20rem;
  padding: 1rem;
  text-align: center;
  background-color: #8c3a60;
}

.card__skeleton {
  background-image: linear-gradient(90deg, #ccc 0px, rgb(229 229 229 / 90%) 40px, #ccc 80px);
  background-size: 300%;
  background-position: 100% 0;
  border-radius: inherit;
  animation: shimmer 1.5s infinite;
}

.card__title {
  height: 15px;
}

.card-price {
  height: 15px;
}

.card__description {
  margin-bottom: 2rem;
  height: 24rem;
  border-radius: 0.8rem;
}

@keyframes shimmer {
  to {
    background-position: -100% 0;
  }
}
