.categories-content {
  grid-template-areas:
    "a b"
    "c c"
    "d e";
  grid-gap: 15px;
}

.categories-container div:nth-child(1) {
  grid-area: a;
}

.categories-container div:nth-child(2) {
  grid-area: b;
}

.categories-container div:nth-child(3) {
  grid-area: c;
}

.categories-container div:nth-child(4) {
  grid-area: d;
}

.categories-container div:nth-child(5) {
  grid-area: e;
}

@media screen and (max-width: 500px) {
  .categories-content {
    height: 40rem;
    grid-template-areas:
      "a "
      "b"
      "c"
      "d"
      "e";
    grid-gap: 15px;
  }
}
