.card {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

h1 {
  text-align: center;
  letter-spacing: 1px;
}

h1 span {
  position: relative;
  display: inline-block;
  height: 1.25em;
  vertical-align: bottom;
  overflow: hidden;
}

h1 span span {
  display: block;
  animation: animateWords 7s infinite ease;
  animation-delay: 3s;
}

@keyframes animateWords {
  100% {
    transform: translateY(0%);
  }
  24% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 100%;
    margin: 1rem 0;
    border-radius: 0;

    .mainTitle {
      font-size: 0.9rem;
    }
    .mainDescription {
      font-size: 0.6rem;
    }

    .svgIcon {
      width: 1.3rem;
    }
  }
}
