:root {
  --swiper-navigation-size: 2rem;
}

.swiper {
  height: 45rem;
}

.imageCarousel {
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  width: 91%;
  border-radius: 0.3rem;
}

.swiper-pagination-bullet-active {
  width: 1rem;
  border-radius: 0.1rem;
  height: 0.4rem;
  background-color: #8c3a60;
}

.swiper-button-next,
.swiper-button-prev {
  color: #8c3a60;
  width: var(--swiper-navigation-size);
}

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-prev {
  width: 0.7rem;
  border-radius: 0.1rem;
}

@media screen and (max-width: 1240px) {
  .swiper {
    height: 30rem;
    object-fit: none;
  }
  .imageCarousel {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .swiper {
    height: 20rem;
    object-fit: none;
  }
  .imageCarousel {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .swiper {
    height: 15rem;
    object-fit: none;
  }
  :root {
    --swiper-navigation-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .swiper {
    height: 13rem;
    object-fit: none;
  }
}
